
<br>
<br>
<div class="panel panel-primary">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Description</th>
          <th>MRC</th>
          <th>NRC</th>
          <th>Discount</th>
          <th>Created By</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async">
          <td>{{product.productName}}</td>
          <td>{{product.description}}</td>
          <td>{{product.mrc}}</td>
          <td>{{product.nrc}}</td>
          <td>{{product.discount}}</td>
          <td>{{product.createdBy}}</td>
          <td>
              <button (click)="updateProduct(product.productId)" class="btn btn-success" style="margin-left: 10px">Update</button>
              <button (click)="productDetails(product.productId)" class="btn btn-success" style="margin-left: 10px">Details</button>
              <button (click)="deleteProduct(product.productId)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

